<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "mob.app.dev.SummerApp"
        version   = "1.0.0">

    <name>Summer Application</name>
	<description>This is a Prototype of the Final Application</description>
	<author email="WAIM1_16@uni.worc.ac.uk">Matthew Waite</author>
	<platform name="android" />
	<icon src="icon.jpg" width="180" height="180" />
	<preference name="orientation" value="portrait" />  
   	<plugin name="cordova-plugin-whitelist" version="1" />
	
	
</widget>